bleach==1.4.3
Django==1.4.2
django-pagination==1.0.7
filebrowser-safe==0.4.3
future==0.15.2
gondor==1.1.6
grappelli-safe==0.2.7
gunicorn==0.14.3
html5lib==0.9999999
Mezzanine==1.1.4
micawber==0.2.4
nashvegas==0.8b1
Pillow==3.3.0
psycopg2==2.4.5
pytz==2016.6.1
six==1.9.0
