#navbar-icon-facebook
{
line-height:48px;
font-size:36px;
vertical-align:middle;
text-align: -webkit-match-parent;
background-image:none;
}

#navbar-icon-twitter
{
line-height:48px;
font-size:36px;
vertical-align:middle;
text-align: -webkit-match-parent;
background-image:none;
}

.topic-image { 
   position: relative; 
}

.topic-title { 
   position: absolute; 
   top: 20%; 
   left: 0; 
   width: 70%; 
   color: white; 
   font-size: 15px; 
   font-weight: normal;
   letter-spacing: -1px;
   background: rgb(0,0,0);
   background: rgba(0,0,0, 0.7);
   padding: 3px;
}

.featuredmediathumb
{
text-align:center;
}

.mediatitle {
display:block;
padding-top:3px;
margin:0;
font-family:inherit;
font-weight:700;color:inherit;
text-rendering:optimizelegibility;
font-size:11px;
line-height:14px;
}

.media-list,.media-list-title {
border-bottom: 1px dashed #CCC;
}

.media-tags {
vertical-align: bottom;
}

.media-tags {
vertical-align: bottom;
}

h3.featuredmedia {
text-align: center;
margin-bottom: 0px;
}

span.see-more {
display:block;
text-align: center;
font-size:11px;
line-height:12px;
font-weight: bold;
margin-bottom: 8px;
}

.center {
margin: 0 auto;
text-align:center;
}

li.subtopic > a
{
color:#ffffff;
background-color:#bdbcbc;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
padding: 10px 10px 10px;
margin-right: 4px;

font-size: 15px; 
font-weight: normal;

}

.nav > li.subtopic > a:hover
{
color:#f68a17
}

.nav-pills>.active>a,.nav-pills>.active>a:hover,.nav > li.subtopic.active > a:hover  {
color:#ffffff;
background-color:#f68a17;
}

a {
  color: #f68a17;
  text-decoration: none;
}
a:hover {
  color: #f68a17;
  text-decoration: underline;
}

.tab-content {
background:rgba(220,220,220, 0.1); 
padding: 0px 5px 10px; 
margin-bottom:20px;
line-height:170%; 
border:1px solid #eee; 
border-top:none;
border-radius:0px;
}

.nav-tabs {
margin-bottom: 0px;
border-bottom: 1px solid #eee;
}

.nav-tabs > li > a {
padding-right: 6px;
padding-left: 6px;
margin-right: 2px;
line-height: 14px;

-webkit-border-radius: 0px 0px 0 0;
-moz-border-radius: 0px 0px 0 0;
border-radius: 0px 0px 0 0;

background:#bdbcbc;
color: white;
border: 1px solid #eee;

font-size: 14px; 
font-weight: normal;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
color: white;
background-color: #f68a17; 
border: 1px solid #DDD;
border-bottom-color: transparent;
}

.search-query {
width:100%;
}

div.tags {
padding-top:5px;
}

.navbar-inner {
  min-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #bdbcbc;
  background-image: none;
  background-repeat: none;
  filter: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-fixed-top {
  position: static;
  margin-bottom: 18px;
}

.navbar .nav > li > a {
margin: 35px 5px 10px;
padding: 0px 0px 0px;
font-size: 15px;
}

.navbar .brand {
float: left;
display: block;
padding: 12px 20px 5px;
margin-left: -20px;
font-size: 40px;
font-weight: 700;
line-height: 1;
letter-spacing:-1px;
color: white;
}

.navbar .brand .odd {
color: #F68A17;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
color: white;
text-decoration: none;
background-color: #bdbcbc;
}


.tagline {
float: left;
font-size: 16px;
font-style: normal;
margin: 0px 5px 0 0px;
color: white;
opacity: 1;
vertical-align:middle;
letter-spacing:1px;
}

.thumbnail {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.about-content > p:first-child {
font-size: 22px;
letter-spacing:2px;
line-height:150%
}

div.tag-menu-div {
display:block;
width:auto;
}


.label, .badge, .label > a, .badge > a  {
color:white;
font-size: 12px;
line-height: 14px;
background: rgb(0,0,0);
background: rgba(0,0,0, 0.7);
-webkit-border-radius: 0px 0px 0 0;
-moz-border-radius: 0px 0px 0 0;
border-radius: 0px 0px 0 0;
text-decoration: none;
white-space: nowrap;
text-shadow: none;
padding: 0px 2px 2px;
}

.label > a, .badge > a  {
background: transparent;
}

.label:hover, .label > a:hover, .label:hover > a {
color:white;
background-color:#f68a17;
text-decoration: none;
}

@media (min-width: 768px) and (max-width: 979px) {
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 768px;
}


.label, .badge {
font-size: 10px;
font-weight: normal;
line-height: 12px;
white-space: nowrap;
text-shadow: none;
padding: 0px 2px 2px;
}

.navbar .nav > li > a {
margin:35px 5px 5px;
padding: 0px 0px 0px;
font-size: 13px;
}

.nav-tabs > li > a {
padding-right: 3px;
padding-left: 3px;
margin-right: 2px;
line-height: 14px;

font-size: 12px; 
}

}

