#navbar-icon-facebook
{
line-height:36px;
font-size:24px;
vertical-align:middle;
text-align: -webkit-match-parent;
background-image:none;
}

#navbar-icon-twitter
{
line-height:36px;
font-size:24px;
vertical-align:middle;
text-align: -webkit-match-parent;
background-image:none;
}

.topic-image { 
   position: relative; 
}

.topic-title { 
   position: absolute; 
   top: 20%; 
   left: 0; 
   width: 75%; 
   color: yellow; 
   font-size: 16px; 
   font-weight: bold; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 3px;
}

.featuredmediathumb
{
text-align:center;
}

.mediatitle {
display:block;
padding-top:3px;
margin:0;
font-family:inherit;
font-weight:700;color:inherit;
text-rendering:optimizelegibility;
font-size:11px;
line-height:14px;
}
.well.topicmenu.active, .well.topicmenu.active a, .well.topicmenu.active li
{
background-color:#08C;
color:white;
}

.center,
.center > div {
    float:none;
    display:block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .div-inner {
text-align:center;
}

li.subtopic > a
{
background-color:#EEE;
}
