a.nohoverunderline:hover{
text-decoration: none;
}


.navbar-inner {
  min-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #bdbcbc;
  background-image: none;
  background-repeat: none;
  filter: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-fixed-top {
  position: static;
  margin-bottom: 18px;
}

.navbar .nav > li > a {
margin: 3px 5px 10px;
padding: 0px 0px 0px;
font-size: 15px;
}

div.logo-div {
float: left;
display: inline;
padding: 8px 10px 2px 2px;
}

.navbar .brand {
float: left;
padding: 12px 20px 5px;
margin-left: -20px;
font-size: 40px;
font-weight: 700;
line-height: 1;
letter-spacing:-1px;
color: white;
}

.navbar .brand .odd {
color: #F68A17;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
color: white;
text-decoration: none;
background-color: #bdbcbc;
}


.tagline {
float: left;
font-size: 16px;
font-style: normal;
margin: 0px 5px 24px 0px;
color: white;
opacity: 1;
vertical-align:middle;
letter-spacing:1px;
}

div.top-bar-nav {
margin: 15px 5px 15px 0px;
}

.navbar ul.icons > li
{
margin: 5px 5px 5px 5px;
vertical-align: bottom;
}

.topic-image { 
   position: relative; 
}

.topic-title { 
   position: absolute; 
   top: 20%; 
   left: 0; 
   width: 70%; 
   color: white; 
   font-size: 15px; 
   font-weight: normal;
   letter-spacing: 0px;
   background: rgb(0,0,0);
   background: rgba(0,0,0, 0.7);
   padding: 3px;
}

.thumbnail {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.medialistthumbs {
margin-left:0px;
}

.medialistthumb > .thumbnail {
width:210px;
height:auto;
overflow:hidden;
padding:4px;
display:block;
}

.medialistthumb > .thumbnail img {
display:block;
max-height:100%;
max-width:100%;
border:0;
}

.featuredmediathumb .mediatitle
{
text-align:center;
}

.greybox {
padding: 2px 10px;
background-color: #eee;
}

.overviewdoc {
margin-bottom: 8px;
text-align:center;
}

.overviewdoc button {
color: #F68A17;
border: none;
padding: 5px 10px;
background-color: #eee;
text-align: left;
width:90%;
}

.mediatitle {
text-align:center;
display:block;
padding-top:3px;
margin:0;
font-family:inherit;
font-weight:700;color:inherit;
text-rendering:optimizelegibility;
font-size:11px;
line-height:14px;
}

.media-list,.media-list-title {
border-bottom: 1px dashed #CCC;
}

.media-tags {
vertical-align: bottom;
}

.media-tags {
vertical-align: bottom;
}

h1 {
text-transform: lowercase;
color: #F68A17;
line-height: 48px;
}

h3 {
text-transform: lowercase;
color: #F68A17;
}

h3.featuredmedia {
text-align: center;
margin-bottom: 0px;
color: #000000;
font-weight:400;
font-size:17px;
}

h4 {
text-transform: lowercase;
color: #F68A17;
}

span.see-more {
display:block;
text-align: center;
font-size:11px;
line-height:12px;
font-weight: bold;
margin-bottom: 8px;
}

.center {
margin: 0 auto;
text-align:center;
}

li.subtopic > a
{
color:#ffffff;
background-color:#bdbcbc;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
padding: 10px 10px 10px;
margin-right: 4px;

font-size: 15px; 
font-weight: normal;

}

.nav > li.subtopic > a:hover
{
color:#f68a17
}

.nav-pills>.active>a,.nav-pills>.active>a:hover,.nav > li.subtopic.active > a:hover  {
color:#ffffff;
background-color:#f68a17;
}

a {
  color: #f68a17;
  text-decoration: none;
}
a:hover {
  color: #f68a17;
  text-decoration: underline;
}

.tab-content {
background:rgba(220,220,220, 0.1); 
padding: 0px 5px 10px; 
margin-bottom:20px;
line-height:170%; 
border:1px solid #eee; 
border-top:none;
border-radius:0px;
}

.nav-tabs {
margin-bottom: 0px;
border-bottom: 1px solid #eee;
}

.nav-tabs > li > a {
padding-right: 6px;
padding-left: 6px;
margin-right: 2px;
line-height: 14px;

-webkit-border-radius: 0px 0px 0 0;
-moz-border-radius: 0px 0px 0 0;
border-radius: 0px 0px 0 0;

background:#bdbcbc;
color: white;
border: 1px solid #eee;

font-size: 14px; 
font-weight: normal;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
color: white;
background-color: #f68a17; 
border: 1px solid #DDD;
border-bottom-color: transparent;
}

.search-query {
width:100%;
}

.search > form {
margin: 0 0 5px;
}


div.tags {
padding-top:5px;
}


.about-content p:first-child, p.largefirstpara {
font-size: 17px;
letter-spacing:1px;
line-height:150%
}

div.tag-menu-div {
display:block;
width:auto;
}

.media-tags {
padding-top: 4px;
}

.label, .badge, .label > a, .badge > a  {
color:#333;
font-size: 13px;
font-weight: normal;
line-height: 14px;
background: transparent;
-webkit-border-radius: 0px 0px 0 0;
-moz-border-radius: 0px 0px 0 0;
border-radius: 0px 0px 0 0;
text-decoration: none;
white-space: nowrap;
text-shadow: none;
padding: 2px 2px 2px 2px;
}

.label, .badge  {
word-spacing:-2px;
border: none;
}

.tab-content .label, .tab-content  .badge,.tab-content .label > a, .tab-content  .badge > a {
color:#333;
background: transparent;
border: none;
}

.label:hover, .label > a:hover, .label:hover > a {
color:white;
background-color:#f68a17;
text-decoration: none;
}

li.whoareyou {
font-size: 17px;
font-weight: 900;
color: #f68a17;
}

/* speech bubble */
.triangle-isosceles {
	position:relative;
	padding:15px;
	color:#000;
	background:#f68a17;
	border-radius:15px;
}

/* creates triangle */
.triangle-isosceles:after {
	content:"";
	position:absolute;
	bottom:-15px; /* value = - border-top-width - border-bottom-width */
	left:60%; /* controls horizontal position */
	border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#f68a17 transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

.speech-bubble-text { 
   color: white;
   text-align: center;
   font-size: 17px; 
   font-weight: normal;
   letter-spacing:-1px;
   margin-top:0;
}

table {
width: 100%;
text-align: left;
border-collapse: collapse;
margin-top: 15px;
border-bottom:0px;
}

#who_are_you_download {
margin-top:20px;
}

p.sidebar {
text-align: center;
padding: 5px 10px;
background-color: #eee;
border: 1px solid #bdbcbc;
font-style: italic;
letter-spacing: 1px;
}

@media (min-width: 980px) and (max-width: 1279px) {

.tagline {
font-size: 14px;
}

}

@media (min-width: 768px) and (max-width: 979px) {
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 768px;
}

.media-detail iframe, .media-detail #wistiaDocumentEmbed > embed {
width: 480px;
}

.navbar .brand {
font-size: 32px;
}

.tagline {
float: none;
font-size: 14px;
}

.medialistthumbs {
margin-left:-20px;
}

.featuredmediathumb img {
width:95px;
height:70px;
}

.medialistthumb>.thumbnail {
width:150px;
height:100px;
}

.tab-content {
padding: 0px 0px 10px;
overflow:hidden;
}

.label, .badge {
padding: 0px 0px 0px;
}

@media (min-width: 320px) and (max-width: 767px) {
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 320px;
}

.media-detail iframe, .media-detail #wistiaDocumentEmbed > embed {
width: 320px;
}

.navbar .brand {
font-size: 28px;
}

.tagline {
float: none;
font-size: 14px;
}

.medialistthumbs {
margin-left:-20px;
}

.featuredmediathumb img {
width:95px;
height:70px;
}

.medialistthumb>.thumbnail {
width:150px;
height:100px;
}

.tab-content {
padding: 0px 0px 10px;
overflow:hidden;
}

.label, .badge {
padding: 0px 0px 0px;
}


.label > a, .badge > a {
font-size: 10px;
font-weight: normal;
line-height: 12px;
white-space: nowrap;
text-shadow: none;
padding: 0px 2px 2px;
word-spacing:-1px;
}

.navbar .nav > li > a {
margin: 5px 5px 5px;
padding: 0px 0px 0px;
font-size: 13px;
}

.nav-tabs > li > a {
padding-right: 3px;
padding-left: 3px;
margin-right: 2px;
line-height: 14px;

font-size: 12px; 
}

.glossaryterm > h6 {
font-size: 11px; 
}

.glossaryexplanation {
margin-left: 40px;
}

}

@media (min-width: 768px) and (max-width: 979px) {

}

