{% load i18n cml_tags %}

{% get_tags 0 as topic_tag_list %}
{% get_tags 1 as genre_tag_list %}

<ul class="nav nav-tabs" id="tag-tabs">
  <li class="active"><a href="#topic-div" data-toggle="tab">topic tags</a></li>
  <li><a href="#genre-div" data-toggle="tab">genre tags</a></li>
</ul>

<div class="tab-content">
<div id="topic-div" class="tab-pane tags active">
{% for t in topic_tag_list %}
<div id="tag-menu-div">
<span class="label tag-label tag-menu">
	<a href={% url mediaartefact_list_tag t.slug %}>{{t.name|lower}}</a>
</span>
</div>
{% endfor %}
</li>
</ul>
</div>

<div id="genre-div" class="tab-pane tags">
{% for t in genre_tag_list %}
<div id="tag-menu-div">
<span class="label tag-label tag-menu">
	<a href={% url mediaartefact_list_tag t.slug %}>{{t.name|lower}}</a>
</span>
</div>
{% endfor %}
</div>
</div>
</div>
</div>
</div>
