{% load i18n cml_tags %}

{% get_tags 0 as topic_tag_list %}
{% get_tags 1 as genre_tag_list %}

<h6>Topic tags</h6>
<div class="row media-tags">
<div class="span1">
{% for t in topic_tag_list|partition:"2"|first %}
<a href={% url mediaartefact_list_tag t.slug %}><span class="label tag-label">{{t.name}}</span></a>
{% endfor %}
</div>
<div class="span1 tags-second-column">
{% for t in topic_tag_list|partition:"2"|last  %}
<a href={% url mediaartefact_list_tag t.slug %}><span class="label tag-label">{{t.name}}</span></a>
{% endfor %}
</div>
</div>

<h6>Genre tags</h6>
<div class="row media-tags">
<div class="span1">
{% for t in genre_tag_list|partition:"2"|first %}
<a href={% url mediaartefact_list_tag t.slug %}><span class="label tag-label">{{t.name}}</span></a>
{% endfor %}
</div>
<div class="span1 tags-second-column">
{% for t in genre_tag_list|partition:"2"|last  %}
<a href={% url mediaartefact_list_tag t.slug %}><span class="label tag-label">{{t.name}}</span></a>
{% endfor %}
</div>
</div>