{% load i18n cml_tags %}

{% spaceless %}
<ul class = "thumbnails">
<li class="span2"><a href="http://www.criticalmediaproject.org/about/key-concepts/" class="nohoverunderline">
<p class="triangle-isosceles speech-bubble-text">who are you?</p></a>
  </li>
  {% get_topics as topic_list %}
  {% for t in topic_list %}
  <li class="span2 topic-image">
  <a href="{% url topic_background t.slug %}" class="thumbnail">
  <img src="{{t.icon.url}}" alt="">
  <span class="topic-title">{{t.title|lower}}</span>
  </a>
  </li>
  {% endfor %}
  
</ul>
{% endspaceless %}