{% load i18n cml_tags %}

{% spaceless %}
<ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
  
  {% get_topics as topic_list %}
  {% for topic in topic_list %}
  <btn class="nav-header 
  			 {% if forloop.first %} first in{% endif %}
             {% if forloop.last %} last{% endif %}" 
             data-toggle="collapse" data-target="#{{topic.slug}}-content">
  {{topic.title}}
  <div class="collapse" id="{{topic.slug}}-content">
  <ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
  
  <li class="{% active request "mediaartefact_list_topic" topic.slug %} first">
  <a href="{% url mediaartefact_list_topic topic.slug %}">Media</a>
  </li>
  <li class="{% active request "teacherguide_list_topic" topic.slug %} first">
  <a href="{% url teacherguide_list_topic topic.slug %}">Teacher Guides </a>
  </li>
  </ul>
  </div>           
  </li>
  
  {% endfor %}
</ul>
{% endspaceless %}