{% load i18n cml_tags %}

{% spaceless %}
<ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
  
  {% get_topics as topic_list %}
  {% for topic in topic_list %}
  <li class="{% if forloop.first %} first{% endif %}
             {% if forloop.last %} last{% endif %}">
  {{topic.title}}
  <ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
  
  <li class="{% active request "mediaartefact_list_topic" topic.slug %} first">
  <a href="{% url mediaartefact_list_topic topic.slug %}">Media</a>
  </li>
  <li class="{% active request "teacherguide_list_topic" topic.slug %} first">
  <a href="{% url teacherguide_list_topic topic.slug %}">Teacher Guides </a>
  </li>
  </ul>
             
  </li>
  
  {% endfor %}
</ul>
{% endspaceless %}