{% extends "base.html" %}
{% load i18n cml_tags %}

{% block subnav_top %}
{% include "cmlproject/menus/sub_topic_menu.html" %}
{% endblock %}

{% block main %}
{% block topic_tabs %}
<div id="{{topic.slug}}-content">
<ul class="nav nav-tabs">
<li class="{% active request "topic_background" topic.slug %}">
<a href="{% url topic_background topic.slug %}">Introduction</a>
</li>
<li class="{% active request "mediaartefact_list_topic" topic.slug %}">
<a href="{% url mediaartefact_list_topic topic.slug %}">Featured Media</a>
</li>
</ul>
</div>
{% endblock %}
{% block topic_content %}{% endblock %}
{% endblock %}

