{% extends "cmlproject/cml_base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.title }}{% else %}{% trans "Media" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% if page %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endif %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block main %}
{% for mediaartefact in mediaartefacts.object_list %}
{% editable mediaartefact.title %}
<h2>
    <a href="{{ mediaartefact.get_absolute_url }}">{{ mediaartefact.title }}</a>
</h2>
{% endeditable %}


{% editable mediaartefact.content %}
{{ mediaartefact.description_from_content|safe }}
{% endeditable %}

<p class="blog-list-detail">
    {% if mediaartefact.keyword_list %}
    {% trans "Tags" %}:
    {% spaceless %}
    {% for tag in mediaartefact.keyword_list %}
    <a href="{% url mediaartefact_list_tag tag.slug %}" class="tag">{{ tag }}</a>
    {% endfor %}
    {% endspaceless %}
    <br>
    {% endif %}
    <a href="{{ mediaartefact.get_absolute_url }}">{% trans "read more" %}</a>
    
    
</p>
{% endfor %}

{% pagination_for mediaartefacts %}

{% endblock %}

