{% extends "cmlproject/mediaartefact_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags i18n %}

{% block meta_title %}{{ mediaartefact.title }}{% endblock %}

{% block title %}
{% editable mediaartefact.title %}{{ mediaartefact.title }}{% endeditable %}
{% endblock %}

{% block main %}
<div class="row">
<div class="span7">
{% if mediaartefact.embed_code %}
{{ mediaartefact.embed_code|safe }}
{% else %}
<img src="http://placehold.it/400x270" alt="">
{% endif %}
</div>
</div>
<div class="row">
<div class="span7">
{% editable mediaartefact.content %}
{{ mediaartefact.content|richtext_filter|safe }}
{% endeditable %}

<div class="media-tags">
    {% if mediaartefact.tags %}
    {% trans "Tags" %}:
    {% spaceless %}
    {% for tag in mediaartefact.tags.all %}
    <a href="{% url mediaartefact_list_tag tag.slug %}" class="tag">{{ tag.name }}</a>
    {% endfor %}
    {% endspaceless %}
    <br>
    {% endif %}
</div>
</div>
</div>

{% endblock %}
