{% extends "cmlproject/topic_base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.title }}{% else %}{% trans "Media" %}{% endif %}{% endblock %}

{% block meta_description %}{% metablock %}
{% if topic %}
Featured Media on {{topic.title}}
{% elif tag %}
Media tagged {{tag.name}}
{% endif %}
{% endmetablock %}{% endblock %}

{% block main %}
<div class="media-list-title">
{% if topic %}
<h2> Featured Media on {{topic.title}} </h2>
{% elif tag %}
<h2> Media tagged {{tag.name}} </h2>
{% endif %}
</div>
{% for mediaartefact in mediaartefacts.object_list %}
<div class="media-list">
<div class="row">
<div class="span5">
<div class="media-tags">
    {% if mediaartefact.tags %}
    {% for tag in mediaartefact.tags.all %}
    <span class="label tag-label">
	<a href={% url mediaartefact_list_tag tag.slug %}>{{tag.name}}</a></span>
    {% endfor %}
    
    {% endif %}
</div>
{% editable mediaartefact.title %}
<h3>
    <a href="{{ mediaartefact.get_absolute_url }}">{{ mediaartefact.title }}</a>
</h3>
{% endeditable %}

{% editable mediaartefact.content %}
{{ mediaartefact.description_from_content|safe }}
{% endeditable %}
<p>
<a href="{{ mediaartefact.get_absolute_url }}">{% trans "read more" %}</a>
</p>
</div>
<div class="span3">
<ul class = "thumbnails medialistthumbs">
  <li class="span3 medialistthumb">
  <a href="{{ mediaartefact.get_absolute_url }}" class="thumbnail">
  <img src="{{ mediaartefact.thumbnail_url }}" width=260 height=180 alt="{{ mediaartefact.title }} thumbnail">
  </a>
  </li>
</ul>

</div>
</div>
</div>
{% endfor %}

{% pagination_for mediaartefacts %}

{% endblock %}

