{% extends "cmlproject/mediaartefact_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags i18n %}

{% block meta_title %}{{ mediaartefact.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for mediaartefact as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ mediaartefact.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable mediaartefact.title %}{{ mediaartefact.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{{ mediaartefact.titles }}</li>
{% endblock %}

{% block main %}

{% editable mediaartefact.content %}
{{ mediaartefact.content|richtext_filter|safe }}
{% endeditable %}

<!--{% keywords_for mediaartefact as tags %}
{% if tags %}
{% spaceless %}
<ul class="unstyled tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url mediaartefact_list_tag tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}-->

{% set_short_url_for mediaartefact %}

{% endblock %}
