{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.title }}{% else %}{% trans "Teacher Guides" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% if page %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endif %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Teacher Guides" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}

{% if tag or category or year or month or author %}
    <p>
    {% if tag %}
        {% trans "Viewing posts tagged" %} {{ tag }}
    {% endif %}
    </p>
{% else %}
    {% if page %}
    {% editable page.richtextpage.content %}
    {{ page.richtextpage.content|safe }}
    {% endeditable %}
    {% endif %}
{% endif %}

{% for teacherguide in teacherguide.object_list %}
{% editable teacherguide.title %}
<h2>
    <a href="{{ teacherguide.get_absolute_url }}">{{ teacherguide.title }}</a>
</h2>
{% endeditable %}


{% editable teacher_guide.content %}
{{ teacherguide.description_from_content|safe }}
{% endeditable %}

<p class="blog-list-detail">
    {% if teacherguide.keyword_list %}
    {% trans "Tags" %}:
    {% spaceless %}
    {% for tag in teacherguide.keyword_list %}
    <a href="{% url teacherguide_list_tag tag.slug %}" class="tag">{{ tag }}</a>
    {% endfor %}
    {% endspaceless %}
    <br>
    {% endif %}
    <a href="{{ teacherguide.get_absolute_url }}">{% trans "read more" %}</a>
    /
    
</p>
{% endfor %}

{% pagination_for teacherguides %}

{% endblock %}

