{% extends "cmlproject/topic_base.html" %}
{% load i18n mezzanine_tags cml_tags %}

{% block meta_title %}{{topic.title}}{% endblock %}

{% block meta_description %}{% metablock %}
{{ topic.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{{topic.title}}
{% endblock %}


{% block main %}

<div class="row">
<div class="span6" id="{{topic.slug}}-content"  class="about-content">
{{ topic.content|add_glossary_tooltips|richtext_filter|safe}}
</div>


<div class="span2" id="{{topic.slug}}-featured">
<h4 class="featuredmedia"> featured media </h4>
<ul class = "thumbnails">
{% for mediaartefact in topic.featured_media.all  %}
  <li class="span2 featuredmediathumb">
  <div class="thumbnail-small">
  <a href="{{ mediaartefact.get_absolute_url }}" class="thumbnail">
  <img src="{{ mediaartefact.thumbnail_url }}" width=160 height=120 alt="{{ mediaartefact.title }} thumbnail">
  <span class="mediatitle">{{ mediaartefact.title }}</span>
  </a>
  </div>
  </li>
{% endfor %}
</ul>

</div>
</div>
{% endblock %}