{% extends "pages/page.html" %}

{% load mezzanine_tags cml_tags static %}

{% block main %}{{ block.super }}
<div class="row">
<div class="span6">
{% editable page.richtextpage.content %}
{{ page.richtextpage.content|richtext_filter|safe }}
{% endeditable %}
</div>

<div class="span2" id="recent-media">
<div class="overviewdoc">
<button id="who_are_you_download" class="download_overview" onclick="location.href='{% get_media_prefix %}uploads/who_are_you_overview.pdf'">
<i class="icon-download-alt icon-large"></i> overview PDF</a>
</button>
</div>
{% include "cmlproject/menus/recent_media_menu.html" %}
<div>{% include "cmlproject/sidebar_text.html" %}</div>
</div>
</div>
{% endblock %}
